/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "open-sans";
  src: url(../Lato/Lato-Regular.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "open-sans";
}
body a {
  color: black;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dark-mode {
  background: #212121;
  color: white;
}
.dark-mode a {
  color: white;
}

.navbar {
  position: relative;
}
.navbar .pc-nav {
  display: none;
}
.navbar .underline {
  width: 100%;
  height: 2px;
  background: grey;
  z-index: 5;
  box-shadow: 0px 1px 3px;
}
.navbar .overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4431372549);
}
.navbar .links {
  width: 100%;
  height: 100vh;
  background: #004F8F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  align-items: center;
  position: absolute;
  top: 0;
  margin-top: -100vh;
  transition: all ease-in 1s;
  z-index: 10;
  position: fixed;
}
.navbar .links .dark {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background: rgb(58, 57, 57);
  box-shadow: 0px 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  border: 3px solid #444444;
}
.navbar .links .dark .circle {
  width: 60px;
  height: 32px;
  background: #444444;
  border-radius: 50px;
}
.navbar .links .dark p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00929F;
}
.navbar .links .dark .on {
  display: none;
}
.navbar .links .dark .off {
  margin-right: 3px;
}
.navbar .links .dark-theme .off {
  display: none;
}
.navbar .links .dark-theme .on {
  display: block;
}
.navbar .links a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
.navbar .sliding-menu {
  transform: translateY(100vh);
  transition: all ease-in 1s;
}
.navbar .mobile-nav {
  width: 100%;
}
.navbar .mobile-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .mobile-nav img {
  height: 80px;
  z-index: 15;
}
.navbar .mobile-nav .hamburger {
  height: 55px;
  width: 65px;
  border: 3px solid #444444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 15;
  transition: all ease-out 1s;
}
.navbar .mobile-nav .hamburger .line {
  width: 70%;
  height: 3px;
  background: #444444;
  border-radius: 1px;
  transition: all ease-in-out 2s;
}
.navbar .mobile-nav .exit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all ease-in-out 2s;
  border-color: grey;
}
.navbar .mobile-nav .exit .lines {
  transform: rotate(45deg);
  position: absolute;
  background: grey;
  border-radius: 2px;
  z-index: 5;
  transition: all ease-in-out 2s;
}
.navbar .mobile-nav .exit .middle {
  opacity: 0;
}
.navbar .mobile-nav .exit .line1 {
  transform: rotate(-45deg);
  position: absolute;
  background: grey;
  border-radius: 2px;
  z-index: 5;
  transition: all ease-in-out 2s;
}

.underline {
  width: 100%;
  height: 2px;
  background: grey;
  z-index: 5;
  box-shadow: 0px 1px 3px;
}

.banner {
  width: 100%;
  height: 100vh;
}
.banner .banner-one {
  width: 100%;
  height: 79vh;
}
.banner .banner-one .images-one img {
  border-radius: 50%;
  border: 10px solid gray;
  box-shadow: 0 0 20px;
}
.banner .banner-one .images-one .two {
  display: none;
}
.banner .banner-one .images-one .white {
  position: relative;
  width: 100%;
  margin-left: 5px;
}
.banner .banner-one .images-one .text {
  text-align: center;
}
.banner .banner-one .images-one .text h4 {
  font-size: 2rem;
  margin-top: 20px;
}
.banner .banner-one .images-one .text h2 {
  font-size: 2.5rem;
  margin-top: 20px;
}
.banner .banner-one .images-one .text button {
  padding: 10px 38px;
  border: 3px solid #004F8F;
  border-radius: 40px;
  background: #444444;
  color: white;
  margin-top: 20px;
}
.banner .banner-one .images-one .text .button {
  border-color: #212121;
}

.footer {
  padding: 1.8rem 0;
  text-align: center;
}
.footer ul {
  display: none;
}
.footer ul a {
  font-size: 1.2rem;
}
.footer p {
  margin-top: 5px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .navbar .mobile-nav {
    display: none;
  }
  .navbar .links {
    display: none;
  }
  .navbar .pc-nav {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .navbar .pc-nav .dark2 {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background: rgb(58, 57, 57);
    box-shadow: 0px 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    border: 3px solid #444444;
    cursor: pointer;
  }
  .navbar .pc-nav .dark2 .circle {
    width: 60px;
    height: 32px;
    background: #444444;
    border-radius: 50px;
  }
  .navbar .pc-nav .dark2 p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #00929F;
  }
  .navbar .pc-nav .dark2 .on {
    display: none;
  }
  .navbar .pc-nav .dark2 .off {
    margin-right: 3px;
  }
  .navbar .pc-nav .dark-theme .off {
    display: none;
  }
  .navbar .pc-nav .dark-theme .on {
    display: block;
  }
  .navbar .pc-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .pc-nav img {
    height: 4rem;
  }
  .navbar .pc-nav .link {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .navbar .pc-nav .link .home {
    color: #004F8F;
    font-size: 2rem;
    cursor: pointer;
  }
  .navbar .pc-nav .link a {
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
  .banner-one .images-one {
    margin-top: 50px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .pc-nav .link {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .banner-one .images-one {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-one .text {
    display: flex;
    flex-direction: column;
    justify-content: center h4;
    justify-content-font-size: 3rem;
    justify-content-font-weight: 600;
  }
  .banner-one .text h2 {
    font-size: 6rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */